<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_manage"
        android:label="File Manager"
        android:roundIcon="@android:drawable/ic_menu_manage"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:requestLegacyExternalStorage="true">
        
        <activity
            android:name=".FileManagerActivity"
            android:exported="true"
            android:label="File Manager"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TextViewerActivity"
            android:exported="false"
            android:label="Text Viewer"
            android:parentActivityName=".FileManagerActivity" />
        
        <activity
            android:name=".ImageViewerActivity"
            android:exported="false"
            android:label="Image Viewer"
            android:parentActivityName=".FileManagerActivity" />
            
    </application>

</manifest>
